body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:881px;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:104px;
  width:1138px;
  height:880px;
}
#u7622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:58px;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:48px;
  width:1148px;
  height:57px;
}
#u7623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7624_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:212px;
  height:22px;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:70px;
  width:207px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u7624_img.selected {
}
#u7624.selected {
}
#u7624_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:195px;
  word-wrap:break-word;
}
#u7625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:938px;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:172px;
  height:937px;
}
#u7625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  overflow:hidden;
}
#u7626_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u7626_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u7626_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u7626_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u7626_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u7626_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u7626_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u7626_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7626_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u7626_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:1218px;
  height:3px;
  overflow:hidden;
}
#u7627_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u7627_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:47px;
}
#u7628 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:177px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u7628_img.selected {
}
#u7628.selected {
}
#u7628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u7629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7630 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:63px;
  width:150px;
  height:29px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7630_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u7631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7631 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:71px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#666666;
}
#u7631_img.mouseOver {
}
#u7631.mouseOver {
}
#u7631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7632 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:104px;
  width:1139px;
  height:2px;
  overflow:hidden;
}
#u7632_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u7632_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u7634 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:0px;
  width:97px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7634_img.mouseOver {
}
#u7634.mouseOver {
}
#u7634_img.selected {
}
#u7634.selected {
}
#u7634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u7635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u7635 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:97px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7635_img.mouseOver {
}
#u7635.mouseOver {
}
#u7635_img.selected {
}
#u7635.selected {
}
#u7635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u7636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u7636 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:97px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7636_img.mouseOver {
}
#u7636.mouseOver {
}
#u7636_img.selected {
}
#u7636.selected {
}
#u7636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u7637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u7637 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:-1px;
  width:97px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u7637_img.mouseOver {
}
#u7637.mouseOver {
}
#u7637_img.selected {
}
#u7637.selected {
}
#u7637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u7638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u7638 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:15px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u7640 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:941px;
  width:77px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7640_img.mouseOver {
}
#u7640.mouseOver {
}
#u7640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u7641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u7641 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:941px;
  width:77px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7641_img.mouseOver {
}
#u7641.mouseOver {
}
#u7641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u7642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:695px;
}
#u7642 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:237px;
  width:1136px;
  height:694px;
  text-align:left;
}
#u7642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:178px;
}
#u7643 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:239px;
  width:1137px;
  height:178px;
}
#u7643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:2px;
}
#u7644 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:432px;
  width:1115px;
  height:1px;
}
#u7644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:126px;
}
#u7645 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:109px;
  width:1122px;
  height:125px;
  font-size:48px;
  text-align:left;
}
#u7645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1118px;
  word-wrap:break-word;
}
#u7646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:319px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7648_img.selected {
}
#u7648.selected {
}
#u7648_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:361px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7649_img.mouseOver {
}
#u7649.mouseOver {
}
#u7649_img.selected {
}
#u7649.selected {
}
#u7649_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:173px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u7650_img.mouseOver {
}
#u7650.mouseOver {
}
#u7650_img.selected {
}
#u7650.selected {
}
#u7650_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:439px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7652_img.selected {
}
#u7652.selected {
}
#u7652_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:479px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7653_img.mouseOver {
}
#u7653.mouseOver {
}
#u7653_img.selected {
}
#u7653.selected {
}
#u7653_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7655 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:117px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7655_img.mouseOver {
}
#u7655.mouseOver {
}
#u7655_img.selected {
}
#u7655.selected {
}
#u7655_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7656 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:131px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7656_img.mouseOver {
}
#u7656.mouseOver {
}
#u7656_img.selected {
}
#u7656.selected {
}
#u7656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7658_img.selected {
}
#u7658.selected {
}
#u7658_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u7659 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:216px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7660 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:211px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7660_img.mouseOver {
}
#u7660.mouseOver {
}
#u7660_img.selected {
}
#u7660.selected {
}
#u7660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7661_img.mouseOver {
}
#u7661.mouseOver {
}
#u7661_img.selected {
}
#u7661.selected {
}
#u7661_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:278px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7662_img.mouseOver {
}
#u7662.mouseOver {
}
#u7662_img.selected {
}
#u7662.selected {
}
#u7662_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u7663 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:133px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u7664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u7664_img.mouseOver {
}
#u7664.mouseOver {
}
#u7664_img.selected {
}
#u7664.selected {
}
#u7664_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u7665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u7665 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:337px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7666 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:333px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7666_img.mouseOver {
}
#u7666.mouseOver {
}
#u7666_img.selected {
}
#u7666.selected {
}
#u7666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u7667 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:254px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u7668 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:456px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7669 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:453px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7669_img.mouseOver {
}
#u7669.mouseOver {
}
#u7669_img.selected {
}
#u7669.selected {
}
#u7669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u7670 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:298px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
